{% extends "main/base.html" %} {# 継承するテンプレートを指定 #}
{% load static %} {# base.html を継承する場合も必要 #}

{% block extra_style %}{# 上書きするブロック名（extra_style）を指定して、index.html 専用の CSS を追加 #}
<link rel="stylesheet" href="{% static 'main/css/index.css' %}">
{% endblock %}


{% block header %}
    
{% endblock header %}


{% block content %}
    <div class="buttons">
        <a href="{% url 'login' %}" class="button">Log in</a>
        <a href="{% url 'signup' %}" class="button">Sign up</a>
    </div>
{% endblock content %}


{% block footer %}
    
{% endblock footer %}
